body {
    display: block;
    margin: 0px;
    background-color: darkgrey;
}

li{
    list-style: none;
    list-style-type: none;
}
img{
    width: 100%;
}
article{
    background-color: #ffffff;
    margin-bottom: 10px;
}
main{
    margin: 1rem;
}
.circle{
    border: 1px solid #c0eb75;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-left: 12px;
    padding-top: 12px;
}

.fa-truck, .discount{
    color : #c0eb75;
}
.detalle{
    border: 1px solid #ebebeb;
    padding: 15px;
}
.centrado{
    text-align-last: center;
}
footer{

}

.burger-menu{
    align-items: center;
    border-radius: 3px;
}
footer .fas{
    font-size: 2em;
    margin-bottom: 10px;
}

header{
    background-color: #EAC926;
}

/* 
    Navegación en tablets (ancho mínimo 361 px)
    Navegación en desktop (ancho mínimo 769 px)
*/

@media (min-width: 361px) {
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .descripcion{
        display: none;
    }

    .site-login{
        display: none;
    }
}

@media (min-width: 769px) {
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .descripcion{
        display:contents;
    }

    .site-login{
        display: contents;
    }
    .burger-menu{
        display: none;
    }

}